.header{
    width: 100%;
    min-height: 5em;
    background: lightblue;

    padding: 1em 2em;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    display:none;
}
.header .h1{
}
.header .h1 .a{}
.header .nav{
}
.header .ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.header .li{
    margin: 0 1em;
}
.header .li .a{}

.main{
    background: lightgrey;
    margin: 1em 0;
    text-align: center;
}

.seccion{
    width: 100%;
    min-height: 80vh;
    background: lightblue;
    /* margin: 1em 0; */
    padding: 2em;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.seccion .circulos{}
.seccion .circulo{}
.seccion .ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.seccion .ul .li{
    margin: 0 1em;
}
.seccion .ul .a{}
.seccion .h2{
    font-family: var(--tipo-principal);
    font-size: 5em;
    font-weight: 600;
}
.seccion .h3{
    font-family: var(--tipo-principal);
    font-size: 2.5em;
    font-style: italic;
}

.seccion .p{}
.seccion .grid{
    width: 90%;
    max-width: 40em;
    margin: 1em 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1em;
}
.seccion .article{
    width: 100%;
    min-height: 20vh;
    background: lightgreen;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    position: relative;
}
.seccion .a{}
.seccion .figure{
    width: 100%;
    background-color: red;
}
.seccion .img{
    width: 100%;
    background: lime;
}
.seccion .h4{
    width: 100%;
    height: 50%;
    background: coral;
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.sobre-mi{}
.sobre-mi .h2{
    margin: 0 0 1rem;
}
.sobre-mi .p{
    max-width: 40em;
    background: lime;
    margin: 0 0 1em;
    text-align: left;
}
.sobre-mi .rrss{
    width: 100%;
    background: lightgreen;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.sobre-mi .li{
    background: orange;
    margin: 0 1em;
}
.sobre-mi .a{}
.sobre-mi .svg{
    width: 2em;
    height: 2em;
    background-color: red;
}

.footer{
    background: lightpink;
    padding: 2em 0;
    text-align: center;
}
.footer .span{}

/* 1:00:31min */
/* https://www.youtube.com/watch?v=XAwXz2w3vlg */